<div>
    <p></p>
    <h3>List of clients whose Birthday is today</h3>
    <div class="col-sm-6 col-md-10">
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td></td>
                <td>Letter</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='c in clients'>
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.email}}</td>
                <td>{{c.phone}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="createLetter(c.email, c.phone)">Create Letter</button>
                </td>
                <td>{{letter.message}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="sendLetter()">Send Letter</button>
                </td>
            </tr>
            </tbody>
        </table>

        <h3>Creating report</h3>
        <form novalidate ng-submit="makeReport()">
            <input class="form-control" type="text" placeholder="Name" ng-model="name">
            <p></p>
            <button type="submit" class="btn btn-primary" >Create Report</button>
        </form>
    </div>
</div>